PGHOST=sw4.duckdns.org
PGPORT=9005
PGDATABASE=keygen_restaurant
PGUSER=keygen_app
PGPASSWORD=replace-with-database-password
PGSSLMODE=require
PGCONNECT_TIMEOUT=10
KEYGEN_API_SECRET_TOKEN=replace-with-api-token
FLASK_DEBUG=0
